/* mobile first */
:root{
    --beige: #F4EFE9;
    --orange: #BF6440;
    --sand: #E8D5BE;
    --gold: #CBA675;
    --black: #313030;
}

html{
    font-size: 62.5%;
}
body{
    background-color: var(--beige);
    color: var(--black);
}

a {
    cursor: pointer;
}
.nav-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0rem 3rem 0;
}
.nav {
    list-style: none;
    font-family: fahkwang;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    justify-content: center;
    margin-inline-start: 19rem;
    width: 20%;
}
.nav >* {
    margin: 1rem 2rem;
    text-decoration: none;
    flex-basis: 0;
    flex-grow: 1;
}
.link-nav {
    text-decoration: none;
    color: var(--black);
}

p {
    line-height: 2.5rem;
    font-family: cormorant garamond;
    font-size: 16px;
    /* width: 30rem; */
}

.tablet {
    display: none;
}
.h1-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin: -15rem 0; */
    width: 100%;
    height: 40rem;
    margin-block-start: -20rem;
    /* background-color: red; */
}
h1 {
    font-family: federo;
    font-size: 16px;
    letter-spacing: 3rem;
    margin: 35rem 30rem 0 0;
    padding: 4rem;
    transform: rotate(-90deg);
}
.logo-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 6rem;
}
.logo {
        min-width: 15rem;
    margin: -15rem 0 3rem 0;
    width: 70%;
    
}

h3 {
    font-family: quicksand;
    font-size: 24px;
    margin: 0 2rem 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
h4 {
    font-family: quicksand;
    font-size: 12px;
    margin: 0 0 6rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

hr {
    width: 20rem;
    border-color: var(--black);
    border: solid 0.5px var(--black);
}
.line-header {
    margin-block-end: 10rem;
}

h2 {
    font-family: federo;
    font-size: 22px;
    line-height: 3.5rem;
    letter-spacing: 1rem;
    margin: 0 0 2rem 3rem;
}

.tietoa-minusta-otsikko {
    margin: 0 0 12rem 3rem;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.profile-image {
    width: 70%;
    /* max-width: 55rem; */
    min-width: 20rem;
    margin-block-start: -9rem;
    z-index: 1;
    /* align-self: center; */
    /* margin-inline-start: 18rem; */
    /* padding: 1rem; */
}
.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-inline-end: 5rem;
}
.box {
    background-color: var(--sand);
    padding: 5rem;
    min-width: 15rem;
    /* max-width: 28rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -10rem 0 6rem;
}
.about-me {
    padding-block-start: 10rem;
    min-width: 5rem;
    width: 100%;
}

.adjektiivit {
    /* display: flex;
    flex-direction: column; */
    /* margin: 5rem 9rem 9rem; */
    margin-block-start: 5rem;
    margin-block-end: 9rem;
    width: 60%;
    min-width: 20rem;
}
.adjektiivit >* {
    background-color: var(--gold);
    color: var(--beige);
    padding: 3rem 2rem;
    font-size: 26px;
    margin: 1rem 0;
    font-family: federo;
    text-align: center;
}

.taidot-p {
   margin: 0 3rem 4rem;
   width: auto;
}

.taidot-box {
    background-color: var(--sand);
    padding: 3rem 2rem 2rem;
    margin-block-end: 7rem;
}
.kielet {
    color: var(--orange);
    font-family: federo;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.kielet >* {
    margin: 1rem;
}

.line-kielet {
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    border-color: var(--black);
    border: solid 0.5px var(--black);
}
.happynest-logo-container {
    display: flex;
    justify-content: center;
}
.happy-logo {
    width: 28rem;
    /* margin: 3rem 0 3rem 2rem; */
}
h5 {
    font-family: federo;
    font-size: 16px;
    margin-block-end: 2rem;
    margin-inline-start: 3rem;
    line-height: 3rem;
}

.project-description {
    margin: 0 3rem 4rem;
    /* width: auto; */
}
.line-portfolio {
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    border-color: var(--black);
    border: solid 0.5px var(--black);
}
.react-container {
    display: flex;
    flex-direction: row;
}

.react-tasks {
   
    margin-block-end: 4rem;
        margin-block-start: 5rem;
        margin-inline-start: 0rem;
        display: flex;
        flex-direction: column;
}
.react-tasks >* {
    margin: 0 2rem 2rem;
    height: fit-content;
}
.react-tasks li {
    font-size: 16px;
}
.react-tasks a {
    color: var(--black);
}
.line-portfolio-end {
    margin-block-end: 7rem;
}


.contact-p {
    margin: 0 3rem 2rem;
    width: auto;
}

.image-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.image2-container {
    width: 80%;
}
.photo2 {
    width: 100%;
    min-width: 20rem;
    margin-inline-start: -26rem;
    margin-block-start: 0rem;
}

.icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-inline-start: 20rem;
    width: 20%;
}
.icon {
    width: 2rem;
    margin: 0.5rem 2rem;
    fill: var(--beige);
}
.orange-box {
    background-color: var(--orange);
    /* width: 100%; */
    /* max-width: 32rem; */
    height: 28rem;
    margin-inline-start: 5rem;
    margin-block-start: -20rem;
    margin-block-end: 7rem;
    padding-block-end: 3rem;
}
.contact-info {
    padding: 22rem 0 0rem 3rem;
    margin-block-end: 3rem;
    color: var(--beige);
    text-decoration: none;
}

.nav-footer {
    margin-inline-start: -3rem;
}
.logo-footer {
    width: 12rem;
    margin: -17rem 0 5rem 16rem;
}

/* tablet-n채kym채 */
@media only screen and (min-width: 426px) {
  
    .nav-container{
        align-items: center;
    }
    .nav {
        font-size: 2vw;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 6rem;
        width: 95%;
    }
    .nav >* {
        margin-block-start: 2rem;
        flex-basis: 0;
        flex-grow: 1;
        margin: 2rem 0 0;
        text-align: center;
        cursor: pointer;
    }

    .mobile {
        display: none;
    }
    .tablet {
        display: contents;
    }
    h3 {
        font-size: 34px;
    }
    h4 {
        font-size: 14px;
        margin: 0 0 6rem;
    }
  
    .logo-figure {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .logo {
        width: 15rem;
        margin: 0 0 6rem 0;
    }
  
    h1 {
        font-size:6vw;
        letter-spacing: 5vw;
        margin: 0 0 6rem 5rem;
        transform: rotate(0deg);
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    
    hr {
        width: 30rem;
    }

    h2 {
        font-size: 30px;
        margin: 0 0 2rem 5rem;
    }
    p {
        font-size: 18px;
        line-height: 4rem;
    }
    .tietoa-minusta-otsikko-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .tietoa-minusta-otsikko {
        margin: 0 5rem 10rem 5rem;
    }
 
    .about-me-container {
        display: flex;
        align-items: center;
        /* flex-wrap: nowrap; */
    }

    .image-container {
        display: flex;
        flex-direction: row;
        /* max-width: 100%; */
        justify-content: right;
        padding-inline-end: 2rem;
    }
    .profile-image {
        padding: 1rem;
        /* flex-grow: 1;
        flex-basis: 0; */
        width: 35%;
        max-width: 50rem;
        /* height: auto; */
        margin-block-start: -18rem;
    }
    
    .box {
        min-width: 15rem;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-block-start: -10rem;
        margin-inline-start: 15rem;
        margin-inline-end: 8rem;
        margin-block-end: 6rem;
        max-width: none,
    }
  
    .about-me {
        padding-block-start: 8rem;
        min-width: 5rem;
        width: 100%;
    }

    .about-me-container {
        width: 100%;
    }
    .adjektiivit {
        flex-direction: row;
        margin: 0 0 9rem;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    .adjektiivit >* {
        padding: 3rem 5rem;
        font-size: 26px;
        margin: 0 1rem 2rem;
        text-align: center;
        width: 10rem;
        flex-basis: 0;
        flex-grow: 0;
    }

    .taidot-p {
        margin: 5rem 10rem 4rem 10rem;
     }
     
     .taidot-box {
         padding: 5rem 2rem 5rem;
         margin-block-end: 10rem;
     }
     .kielet {
         font-size: 20px;
         margin-block-end: 3rem;
     }

     .line-kielet {
        width: 40rem;
    }

    .happynest-logo-container {
        display: block;
    }
    .happy-logo {
        /* width: 28rem; */
        width: 100%;
        max-width: 28rem;
        /* margin: 3rem 0 3rem 2rem; */
        cursor: pointer;
    }

    .projekti-1 {
        display: flex;
        flex-direction: row;
        margin-block-start: 7rem;
        margin-inline-start: 3rem;
    }
    h5 {
        font-size: 20px;
        margin-block-end: 2rem;
        margin-inline-start: 3rem;
        line-height: 3rem;
    }

    .project-h5-p {
        margin-inline-start: 3rem;
        margin-inline-end: 3rem;
        width: 100%;
    }
    .line-portfolio {
        margin-block-start: 2rem;
        margin-block-end: 3rem;
    }
  
    .projekti-2 {
        margin-block-start: 7rem;
        margin-inline-start: 6rem;
        margin-block-end: 5rem;
    }
    .react-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
   
    .project-description-2 {
        min-width: 20rem;
    }
    .react-tasks {
    margin-block-end: 4rem;
        margin-block-start: 5rem;
        margin-inline-start: 0rem;
        display: flex;
        flex-direction: column;
    }
    .react-tasks >* {
        margin: 0 1rem 2rem;
    }
    .react-tasks li {
        font-size: 20px;
    }
   
    .line-portfolio-end {
        margin-block-end: 10rem;
    }

    .yhteydenotto {
        margin-block-start: 12rem;
        display: block;
        width: 100%;
        margin: 12 0 0 0;
  
    }

    .contact-container {
        display: flex; 
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
    .contact-p-container {
        padding: 5rem 5rem 4rem;
        width: 60%;
        min-width: 15rem;
        margin: 0;
    }
    .contact-p {
        margin: 0 0 2rem;
        padding: 0 3rem 0 5rem;
    }
    .box-image-container {
        width: 40%;
        margin: 0;
    }
    .image-icons {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
         /* justify-content: right; */
         margin-inline-start: 0rem;
         /* margin-inline-start: 7rem; */
         width: 100%;
         max-width: 50rem; 
         margin-block-start: 5rem;
         margin: 5rem 0 0;
    }
      .image-container2{
        width: 75%;
        margin: 0;
    }
    .photo2 {
        /* width: 24rem; */
        /* margin-inline-start: 0rem;
        margin-block-start: -14rem; */
        width: 100%;
        height: auto;
        min-width: 20rem;
        display: flex;
        margin: -14rem 0 0 0;
        /* padding-inline-start: 4.5rem; */
    }
    
    .icons-container {
        margin-inline-start: 0;     
        width:25%;
        align-self: center;
    }
  
    .icon {
        min-width: 2.5rem;
        padding:0.5rem 1.5rem;
        margin: 0;
        width: 50%;
        cursor: pointer;
    }
    .orange-box {
        /* width: 80%; */
        max-width:75%;
        /* height: 32rem; */
        margin-inline-start: 0rem;
        padding-inline-end: 5rem;
        margin-block-start: -16rem;
        margin-block-end: 7rem;
        display: flex;
        flex-direction: column;
    }
  
  
    .contact-info {
        margin: 0 0 4rem 0;
        width: 100%;
        min-width: 20rem;
        font-size: 2.5vw;
        line-height: 2.5rem;
    }
    .nav-footer {
        padding: 0 1rem;
        width: 95%;
    }

    .logo-footer {
        width: 12rem;
        margin: 0 0 6rem 0;
    }
    /* body {
        background-color: red;
       } */
  }

  /* desktop-n채kym채 */

  @media only screen and (min-width: 769px) {
    /* body {
    background-color: blue;
    } */
  
    .nav {
        font-size: 18px;
    }
    h3 {
        /* font-size: 40px; */
        font-size: max(4vw, 20px);
    }
    h4 {
        font-size: 1.8vw;
        /* font-size: 18px; */
    }
    .logo-figure {
        width: 100%;
    }
    .logo {
        /* width: 20rem; */
        width: 13%;
        margin: 4rem 0 9rem;
    }

    h1 {
        /* font-size: 38px; */
        font-size:5vw;
        /* font-size: 34px; */
        /* letter-spacing: 5rem; */
        letter-spacing: 6vw;
        max-width: 100%;
    }
    p {
        font-size: 24px;
    }
    .about-me-container {
    display: flex;
    align-items: normal;
    width: 100%;
    }
    .tietoa-minusta {
        margin-block-start: 15rem;
        /* margin-inline-start: 20rem; */
    }
    h2 {
        font-size: max(4vw,38px );
        margin-inline-start: 0;
    }

    .tietoa-minusta-otsikko {
        margin-inline-start: 4rem;
    }

    .box {
        min-width: 45rem;
        margin: -10rem 15rem 10rem;
        padding: 7rem;
    }
  
    .about-me {
        padding-block-start: 8rem;
        min-width: 5rem;
        width: 100%;
    }

    .adjektiivit {
        margin: 0 0 15rem;
    }
    
    .adjektiivit >* {
        padding: 3rem 7rem;
        font-size: 34px;
        margin: 2rem 2rem;
        width: 20rem;
    }
   
    .skills-h2 {
        text-align: center;
        padding-block-end: 8rem;
    }

    .taidot-p {
        margin: 5rem 14rem 7rem 14rem;
     }
     
     .taidot-box {
         padding: 8rem 2rem 8rem;
         margin-block-end: 15rem;
     }
     .kielet {
         font-size: 30px;
         margin-block-end: 7rem;
     }
     .kielet >* {
        margin: 2rem 2rem;
     }

     .line-kielet {
        width: 60rem;
    }

    .portfolio-h2 {
        text-align: center;
    }

    .happy-logo {
        width: 35rem;
        margin: 3rem 0 3rem 1rem;
    }

    .projekti-1 {
        margin-block-start: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h5 {
        font-size: 24px;
    }

    .project-h5-p {
        margin-block-start: 3rem;
        margin-inline-start: 3rem;
        margin-inline-end: 3rem;
        /* min-width: 30rem;
        width: 100%; */
        justify-content: flex-start;
    }

    .line-portfolio {
        margin-block-start: 6rem;
        margin-block-end: 3rem;
        width: 75rem;
    }
    
    .projekti-2 {
        display: flex;
        flex-direction: row;
        justify-content: normal;
        margin-block-start: 7rem;
        margin-inline-start: 35rem;
        margin-block-end: 5rem;
    }
   
    .react-tasks {
        margin-block-end: 0;
        margin-inline-start: 0rem;
        
    }
   
    .line-portfolio-end {
        margin-block-end: 15rem;
    }
    .contact-h2 {
        padding-inline-start: 4rem;
    }
    .icons-container {
        margin-block-start: 14rem;
        padding-inline-start: 1rem;
    }
 
    .orange-box {
    margin-block-start: -20rem;
    padding-block-end: 18rem;
    max-width: 67%;
    }
    .contact-info {
        padding-block-start: 25rem;
        line-height: 3vw;
        font-size: 2vw;
    }
    .logo-footer {
        width: 12rem;
        margin: 0 0 6rem 0;
    }
    

  }